* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
body {
  display: grid;
  grid-template-rows: repeat(5, auto);
  overflow-x: hidden;
  background-color: #f9f9f9;
}
.front-page {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20vh 80vh;
}
.navbar {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.small-navbar {
  display: none;
}
.name {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  transform: translateX(-10%);
}
.name a {
  text-decoration: none;
  color: black;
}
.nav ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  font-size: 1.5rem;
  height: 100%;
  padding: 0rem 13rem 0rem 3rem;
}
.nav ul li a {
  text-decoration: none;
  color: black;
}
.nav ul li a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  transition: all 300ms ease;
  cursor: pointer;
}
.details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.photo {
  display: flex;
  align-items: center;
  justify-content: right;
}
.photo img {
  border-radius: 50%;
  background-color: grey;
  overflow: clip;
  overflow-clip-margin: content-box;
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1), -10px -10px 10px white;
  background-color: whitesmoke;
}
.intro {
  align-content: center;
  padding-left: 1rem;
}
.intro h1 {
  text-align: center;
  width: 50%;
  padding: 1%;
  font-weight: bold;
  font-size: 3rem;
}
.intro p {
  width: 50%;
  color: rgb(85, 85, 85);
  text-align: center;
  padding: 1%;
  font-weight: 600;
  margin: 1% 0%;
  font-size: 1.5rem;
}
.intro-button1 {
  padding: 1rem;
  border-radius: 2rem;
  background-color: white;
  font-weight: bold;
}
.intro-button1:hover {
  cursor: pointer;
  background-color: black;
  color: white;
  transition: all 300ms ease;
}
.intro-button2 {
  padding: 1rem;
  border-radius: 2rem;
  background-color: black;
  background-color: black;
  color: white;
  margin-left: 1rem;
  font-weight: bold;
}
.intro-button2:hover {
  background-color: white;
  color: black;
  transition: all 300ms ease;
}
.intro a {
  text-decoration: none;
  color: black;
  font-size: 2rem;
  top: 12%;
  right: 15%;
}
.logo-container,
.button-container {
  width: 50%;
  display: flex;
  justify-content: center;
}
.logo-container {
  padding: 1rem;
}
.about-me {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: auto auto;
}
.about-me-header {
  align-content: center;
  width: 100vw;
}
.about-me-header p {
  text-align: center;
  color: grey;
}
.about-me-header h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  margin-top: 1%;
}
.about-me-image {
  align-content: center;
}
.about-me-image-container {
  width: 70%;
  content: url(Ayush_Dwivedi_image.png);
  justify-self: right;
  border-radius: 20%;
  background-color: grey;
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1), -10px -10px 10px white;
}
.about-me-content {
  display: grid;
  grid-template-columns: 40% 60%;
}
.about-me-info {
  display: grid;
  grid-template-rows: auto auto;
}
.about-me-info-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  align-content: center;
  justify-content: space-evenly;
  padding: 3rem;
  padding-right: 13rem;
}
.about-me-info-card-container-experience-card,
.about-me-info-card-container-education-card {
  border: 0.1rem solid rgb(160, 160, 160);
  border-radius: 2rem;
  padding: 1.5rem;
  align-items: center;
  justify-items: center;
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1), -10px -10px 10px white;
  background-color: whitesmoke;
}
.about-me-info-card-container-experience-card p,
.about-me-info-card-container-education-card p {
  padding: 0.2rem;
  color: grey;
}
.about-me-info-card-container-experience-card h1,
.about-me-info-card-container-education-card h1 {
  padding: 0.2rem;
}
.about-me-info-detail {
  padding: 0rem 13rem 0rem 4rem;
  font-size: 1.2rem;
  color: grey;
  text-align:justify;
}
.skills {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 20% 50% 30%;
}
.skills-header {
  align-content: center;
  justify-items: center;
}
.skills-header h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-top: 0.5rem;
}
.skills-header p {
  color: grey;
}
.skills-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  align-content: center;
  justify-content: space-evenly;
  padding: 0rem 13rem;
}
.skills-card-container-currently-practicing-languages,
.skills-card-container-currently-practicing-tools {
  border: 0.1rem solid rgb(160, 160, 160);
  border-radius: 2rem;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1), -10px -10px 10px white;
  background-color: whitesmoke;
}
.skills-card-container-currently-practicing-tools {
  grid-template-rows: repeat(4, 1fr);
}
.skills-card-container-currently-practicing-languages article,
.skills-card-container-currently-practicing-tools article {
  padding: 1rem 2rem;
}
.skills-card-container-currently-practicing-languages h1,
.skills-card-container-currently-practicing-tools h1 {
  grid-column: 1 / -1;
  padding: 1rem;
  color: grey;
  text-align: center;
}
.skills-card-container-currently-practicing-languages p,
.skills-card-container-currently-practicing-tools p {
  padding: 0.2rem 0rem 0.2rem 1.5rem;
}
.skills-learning-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1.5fr;
  border: 0.1rem solid rgb(160, 160, 160);
  border-radius: 2rem;
  align-items: center;
  justify-items: center;
  margin: 0rem 13rem 5rem 13rem;
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1), -10px -10px 10px white;
  background-color: whitesmoke;
}
.skills-learning-card h1 {
  grid-column: 1 / -1;
  color: grey;
}
.skills-learning-card article {
  align-items: center;
}
.projects {
  display: grid;
  grid-template-rows: 22% 78%;
  grid-template-columns: 1fr;
  justify-content: center;
}
.projects-header {
  justify-items: center;
  align-content: flex-end;
}
.projects-header h1 {
  font-size: 3rem;
  margin-top: 0.2rem;
}
.projects-header p {
  color: grey;
}
.projects-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 2rem 13rem 7rem 13rem;
}
.projects-content-card {
  background-color: whitesmoke;
  border: 0.1rem solid rgb(160, 160, 160);
  border-radius: 2rem;
  padding: 1.5rem;
  justify-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.projects-content-card-image-container1 {
  content: url(portfolio.png.webp);
  width: 70%;
  border-radius: 2rem;
}
.projects-content-card-image-container2 {
  content: url(amazonuiclone.png);
  width: 70%;
  border-radius: 2rem;
}
.projects-content-card-image-container3 {
  content: url(amazonuiclone.png);
  width: 70%;
  border-radius: 2rem;
}
.projects-content-card h2 {
  font-size: 1.75rem;
  padding: 1rem;
}
.projects button {
  padding: 1rem;
  border-radius: 2rem;
  background-color: white;
  width: 8rem;
  border: 0.1rem solid rgb(160, 160, 160);
  margin-left: 0.5rem;
}
.projects button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
  transition: all 300ms ease;
}
.contact-me {
  display: grid;
  grid-template-rows: repeat(4,auto);
  grid-template-columns: 1fr;
  justify-content: center;
}
.contact-me-header {
    height: 35vh;
  justify-items: center;
  align-content: flex-end;
}
.contact-me-header h1 {
  font-size: 3rem;
  margin-top: 0.2rem;
}
.contact-me-header p {
  color: grey;
}
.contact-me-links {
    height: 45vh;
  justify-items: center;
}
.contact-me-nav{
    height: 10vh;
}
.contact-me-links-container {
  display: flex;
  gap: 2rem;
  border: 0.1rem solid rgb(160, 160, 160);
  border-radius: 2rem;
  padding: 2rem;
  margin-top: 2rem;
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1), -10px -10px 10px white;
  background-color: whitesmoke;
}
.contact-me-links-container a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}
.contact-me-links-container h3 {
  font-size: 2rem;
}
.contact-me-links-container a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  transition: all 300ms ease;
  cursor: pointer;
}
.contact-me-footer {
    height: 10vh;
  justify-items: center;
}
